.home{
  width: 300px;
  height: 200px;
  background: rgba(156, 194, 200, 0.702);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 10px;
  flex-direction: column;
  
}a{
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 10px;
  color: white;
}
button{
  padding: 10px 20px;
  cursor: pointer;
  background: #249feb5a;
  color: white;
  border: none;
  gap: 10px;
  border: 1px solid red;
  margin: 2px;
}
center{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 300px;
}
